.mat-toolbar {
  position:fixed;
  top:0;
  z-index: 2;
  background-color: rgba(0, 0, 0,0.1);
  color:white;
  height: 50px;
  width: 100%;
  padding-left: 0;
}

.ikonki{
  color: rgb(255, 255, 255);

}
.mat-button:hover  {
   background-color:rgba(63, 62, 62, 0.5);
}
.a{
  color: white;
  text-decoration: none;
  display: block;
  margin-right: 5px;

}
ul{
  opacity: 1;
  list-style-type: none;
}

.mat-button{
padding: 0;
height: 50px;

  text-align: center;
}
.mat-mini-fab{
  margin-top: 5px;
  margin-left: 10px;
}

button.mat-menu-item:hover {
  background-color:red;
  color: #fff !important;
}

.toolbar-avatar{
  background-position: center;
  background-size: cover;
}
