.mat-toolbar {
  position:fixed;
  top:0;
  z-index: 2;
  //background-color: rgba(0, 0, 0,0.05);
 // background-color: rgb(90, 0, 0);

  color:white;
  height: 50px;
  width: 100%;
  padding-left: 0;
}

.ikonki{
  color: rgb(255, 255, 255);

}
.mat-icon-button{
  margin-right: 20px;
}
.mat-button:hover  {
   background-color:rgba(63, 62, 62, 0.5);
}
.a{
  color: white;
  text-decoration: none;
  display: block;
  margin-right: 5px;

}
ul{
  opacity: 1;
  list-style-type: none;
}

.mat-button{
padding: 0;
height: 50px;

  text-align: center;
}


button.mat-menu-item:hover {
  background-color:red;
  color: #fff !important;
}

.toolbar-avatar{
  background-position: center;
  background-size: cover;
}
.navigation-items{
  margin-top: 20px;
}
