.mat-toolbar {
  position:fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  color:black;
  box-shadow: 0px 2px 5px #e6e4e4;


}

.example-spacer{
  flex: 1 1 auto;
}
.ikonki{

  color: red;


}
.m{
  margin: 3px;
}
  a:hover{
  color: red;
}
.example-icon {
  padding: 0 10px;
}
.a{
  color: black;
  text-decoration: none;
}
