<mat-toolbar *ngIf="user">
  <div >
    <button mat-icon-button  (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

  </div>


  <a routerLink="/home" class="a">RENT CAR</a>
  <mat-icon class="ikonki">emoji_transportation</mat-icon>


  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.sm fxHide.xs>
    <ul fxLayout fxLayoutGap="5px" class="navigation-items">
      <li>
        <button mat-icon-button  routerLink="/osobowe">
          <mat-icon class="ikonki">drive_eta</mat-icon>

        </button>
      </li>
      <li>
        <button mat-icon-button  routerLink="/lista-klient">
          <mat-icon class="ikonki">double_arrow</mat-icon>

        </button>
      </li>
      <li>
        <button mat-icon-button  routerLink="/kontakt">
          <mat-icon class="ikonki">local_phone</mat-icon>

        </button>
      </li>

      <li>
        <button mat-icon-button  routerLink="/ustawienia">
          <mat-icon class="ikonki">settings</mat-icon>


        </button>
      </li>
      <li>
        <button *ngIf="user" mat-mini-fab [matMenuTriggerFor]="avatarDropDown" class="toolbar-avatar"
          [ngStyle]="{ 'background-image': 'url(' + user?.photoURL + ')'}">
        </button>

    </ul>
  </div>

</mat-toolbar>

<mat-menu #avatarDropDown="matMenu">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ user?.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
    </mat-card-header>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>Wyloguj sie
    </button>
  </mat-card>
</mat-menu>

