.mat-sidenav-container{


  position: fixed;

  background: none;
  height: 100%;
  width: 100%;

}
.mat-sidenav-content{
  top:50px;
}
.mat-sidenav{
  background-color:rgba(0, 0, 0, 0.1);
  width: 260px;

}
.mat-sidenav-list{
  color:white;
}

.layout{
  //background-image: url('/assets/img/tlo.jpg');
background-color: dimgrey;
}
