.example-card {
  margin-top: 150px;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.image{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.example-header-image{
  background-color: red;
  color: white;
  text-align: center;
}
