
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body {
  margin: 0;
  height: 100%;

  font-family: 'Open Sans', sans-serif;



}
body{
//background-image: url('/assets/img/tlo.jpg');
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);

}
