.bg{
 background-image: url('/assets/img/bg.png') ;
 background-size: cover;
 background-position: center;

 height: 400px;
 color:white;
 top: 64px;
}
h1{
  text-align: center;
}
.rez{
  background-color: black;
  background-size: cover;
  background-position: center;


  height: 200px;
  width: 800px;
  color: white;
  margin-left: auto;
  margin-right: auto;

  opacity: 0.5;

}
.dalej{
  background-color: black;

 height: 600px;
 color:white;
 top: 64px;
}
